@model PromocaoHumana.Web.Models.Doacao.DoacaoViewModel

@using (Html.BeginForm("Salvar", "Doacao", FormMethod.Post))
{
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        @:<div class="alert alert-danger">
            @:<p> @ViewBag.ErrorMessage </p>
        @:</div>
    }

    <fieldset>
        <div hidden>
            @Html.EditorFor(model => model.Id)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalRetirada)
            @Html.DropDownListFor(model => model.LocalRetiradaId, (IEnumerable<SelectListItem>)ViewData["Igrejas"], new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LocalRetiradaId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Familia)
            @Html.DropDownListFor(model => model.FamiliaId, (IEnumerable<SelectListItem>)ViewData["Familias"], new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FamiliaId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuemRetirou)
            @Html.EditorFor(model => model.QuemRetirou, additionalViewData: new { htmlAttributes = new { @class = "form-control", placeholder = "Informe o quem retirou " } })
            @Html.ValidationMessageFor(model => model.QuemRetirou)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
            <!-- precisa adicionar a classe form-control no TextArea -->
            @Html.TextAreaFor(model => model.Descricao, 5)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
    </fieldset>

    <br />

    <div>
        @Html.ActionLink("Voltar", "Index", new { id = 1 }, new { @class = "btn btn-outlined" })
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}