@model IEnumerable<PromocaoHumana.Web.Models.Doacao.DoacaoViewModel>

@{
    ViewData["Title"] = "Doações";
}

<h2>Cadastro de Famílias</h2>

@* <p> *@
@*     @Html.ActionLink("Cadastrar", "Create") *@
@* </p> *@
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesRetirada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsavelFamilia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalRetirada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuemRetirou)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesRetirada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelFamilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalRetirada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuemRetirou)
            </td>
            <td>
                Editar | Deletar
                @* @Html.ActionLink("Editar", "Edit", new {id = item.Id}) | *@
                @* @Html.ActionLink("Deletar", "Delete", new {id = item.Id}, new {onclick = "return confirm('Tem certeza que deseja excluir?')"}) *@
            </td>
        </tr>
    }

</table>