@model PromocaoHumana.Web.Models.Familia.FamiliaViewModel

@using (Html.BeginForm("Salvar", "Familia", FormMethod.Post))
{
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        @:<div class="alert alert-danger">
        @:<p > @ViewBag.ErrorMessage </p >
        @:</div >
    }

    <fieldset>
        <div hidden>
            @Html.EditorFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativa)
            @Html.ValidationMessageFor(model => model.Ativa)
        </div>

        <legend>Família</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.NomeResponsavel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeResponsavel)
            @Html.ValidationMessageFor(model => model.NomeResponsavel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CpfResponsavel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CpfResponsavel)
            @Html.ValidationMessageFor(model => model.CpfResponsavel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeConjuge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeConjuge)
            @Html.ValidationMessageFor(model => model.NomeConjuge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuantidadeFilhos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantidadeFilhos)
            @Html.ValidationMessageFor(model => model.QuantidadeFilhos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <legend>Endereço</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Cep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cep, new {id = "cep"})
            @Html.ValidationMessageFor(model => model.Cep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro, new {id = "rua"})
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro, new {id = "bairro"})
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Complemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Complemento)
            @Html.ValidationMessageFor(model => model.Complemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cidade, new {id = "cidade"})
            @Html.ValidationMessageFor(model => model.Cidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uf, new { id = "uf"})
            @Html.ValidationMessageFor(model => model.Uf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacoes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacoes, 5)
            @Html.ValidationMessageFor(model => model.Observacoes)
        </div>

    </fieldset>

    <br/>

    <div>

        @Html.ActionLink("Cancelar", "Index", new {id = 1}, new {@class = "btn btn-danger"})
        <input type="submit" value="Salvar" class="btn btn-success"/>

    </div>

    @section Scripts
    {
        <script>
                jQuery(function ($) {
                    $("input[id='cep']").change(function () {
                            var cep = $(this).val();
                            if (cep.lenth <= 0) return;
                            $.get(`https://viacep.com.br/ws/.${cep}/json`, function (result) {
                                    if (result.status != 1) {
                                        alert(result.message || "Houve um erro desconhecido");
                                        return;
                                    } 
                                    $("input[id='cep']").val(result.Cep);
                                    $("input[id='rua']").val(result.Logradouro);
                                    $("input[id='bairro']").val(result.Bairro);
                                    $("input[id='cidade']").val(result.Localidade);
                                    $("input[id='uf']").val(result.Uf);
                                });
                        });
                    });
            </script>
    }

}