@model PromocaoHumana.Web.Models.Igreja.IgrejaViewModel

@using (Html.BeginForm("Salvar", "Igreja", FormMethod.Post))
{
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        @:<div class="alert alert-danger">
        @:<p > @ViewBag.ErrorMessage </p >
        @:</div >
    }
    <fieldset>

        <div hidden>
            @Html.EditorFor(model => model.Id)
        </div>
        
        <legend>Igreja</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Cnpj)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Cnpj)
            @Html.ValidationMessageFor(model => model.Cnpj)
        </div>

    </fieldset>

    <br/>

    <div>

        @Html.ActionLink("Voltar", "Index")
        <input type="submit" value="Salvar" class="btn btn-success"/>

    </div>
}